---
import SectionHeading from './SectionHeading.astro';

interface Props {
  title?: string;
  content?: string;
}

const { title = "About", content = "" } = Astro.props;
---

<section class="mt-12">
  <SectionHeading text={title} class="mb-4 text-4xl" />
  
  <div class="text-gray-300 text-lg leading-relaxed">
    <p class="mb-6">{content}</p>
  </div>
</section>
