---
import SectionHeading from './SectionHeading.astro';

interface Props {
  title?: string;
  principles?: string[];
}

const { title = "Principles", principles = [] } = Astro.props;
---

<section class="h-full border border-[#34343d] px-6 py-8">
  <SectionHeading text={title} class="mb-8 text-xl" />
  
  <div class="grid gap-4">
    {principles.map((principle, index) => (
      <div key={index}>
        <div>
          <h3 class="font-bold text-lg font-normal mb-2 text-white leading-tight">{principle}</h3>
        </div>
      </div>
    ))}
  </div>
</section>
